/* custom css */

/* html */
html {-webkit-font-smoothing: antialiased;}

/* a */
a {color: #F7F6F4;}

/* background */
.bg-pink {background: #A75460;}
.bg-violet {background: #959CBD;}
.bg-white {background: #F7F6F4;}

/* container video */
.container-video {height: 30vh; overflow-y: scroll; overflow-x: none;}
.container-video::-webkit-scrollbar {width: 8px; height: 8px;}
.container-video::-webkit-scrollbar-thumb {background: linear-gradient(13deg, #f9d4ff 14%,#c7ceff 64%); border-radius: 10px;}
.container-video::-webkit-scrollbar-thumb:hover{background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);}
.container-video::-webkit-scrollbar-track{background: #ffffff; border-radius: 10px; box-shadow: inset 7px 10px 12px #f0f0f0;}
